@{
    ViewBag.Title = "RandomData";
}

<h2>RandomData</h2>
<a href="#" id="btnInsert" class="btn btn-default" >Start/Stop insert</a>
<span id="state"></span>
<div id="results">

</div>

@section scripts{
    
<script src="~/Scripts/randomData.js"></script>
}