@model Cansat.Setebos.Data.Flights

@{
    ViewBag.Title = "Map";
}

<h2>Mapa del recorrido del vuelo</h2>

@Html.HiddenFor(f => f.FlightId)

<div id='mapContainer' style="position:relative; width:100%; height:500px; margin:10px"></div>

@section scripts{
    <script type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>
    <script src="~/Scripts/flightmap.js"></script>
}


