@{
    ViewBag.Title = "SETEBOS Web Station";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Inicio</h1>

            </hgroup>
            <p>
                CANSAT SETEBOS
            </p>
        </div>
    </section>
}
@section headers{    
<link href="~/Content/flexigrid.css" rel="stylesheet" />
}

@section scripts{
<script src="~/Scripts/flexigrid.js"></script>
    <script src="~/Scripts/Index.js"></script>
}

<table class="flexme4" style="display: none"></table>