<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <!--<add name="AdrfrankLibrarySecurityDB" connectionString="Data Source=Adrian-Pc;Initial Catalog=Cansat;Persist Security Info=True;Integrated Security=SSPI;MultipleActiveResultSets=True;Application Name=EntityFramework" />-->

    <add name="CansatEntities" connectionString="metadata=res://*/Entities.csdl|res://*/Entities.ssdl|res://*/Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=CansatDatabase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=CansatDatabase;Persist Security Info=True;Integrated Security=SSPI;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener" 
          type="System.Diagnostics.TextWriterTraceListener"
          initializeData="Data.log" />        
      </listeners>
    </trace>
  </system.diagnostics>

</configuration>